a:hover {
	color: black;
}

#mainNav .navbar-nav li.nav-item a.nav-link-dark {
	color: #729DBA;
}

.masthead {
	background-image: url('../img/cloud.png');
	background-position: center bottom;
	background-repeat: repeat-x;
}

.bg-primary {
	background-color: #34495e!important;
}

.bg-secondary {
	background-color: #2c3e50!important;
}

.btn-primary:active,.btn-primary:focus,.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;
}

.about p {
	font-family: Roboto;
}

.features {
	background-color: #F2F9FF;
	color: #2980b9;
}

.features .list-group {
	box-shadow: 0 10px 30px rgba(125, 147, 178, .2);
}

.features .list-group-item {
	border: 1px solid rgba(52, 152, 219, .3);
	padding-top: 1em;
	padding-bottom: 1em;
}

.features .list-group-hover .list-group-item:hover {
    background-color: #E3F2FF;
}

.usage-ways {
	background-color: #ED4C67;
	color: white;
}

.gui-cli-section img {
	display: block;
	margin: 0 auto;
	max-width: 85%;
}

.last-section {
	background-color: #fafafa;
}

.image-group {
	width: 70%;
	margin: 0 auto;
}

.image-group img {
	width: 100%;
}

.btn-link {
	font-weight: 700;
	color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.3);
}

.carousel-indicators .active {
	background-color: #ED4C67;
}

.nav-link {
	font-size: 1.5em;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #34495e;
}

/* BOUNCE EFFECT FOR ARROW ICON IN THE HEADER SECTION */

.bounceEffect {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-7px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-7px);
  }
}

@media (min-width: 576px) {
	.powered-by-logo {
		height: 70px;
	}
}